@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 20vh;
}

.mainContainer p {
  font-size: 1.5rem;
}

.formContainer {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 62vw;

  border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1vh;
}

.formContainer img {
  margin-top: 5vh;

  width: 23vw;
  height: 13vh;
}

.inputContainer {
  padding: 2vh;
}

.inputContainer input {
  width: 32vw;
  height: 7vh;

  font-size: 1.1rem;
}

.inputContainer label {
  font-size: 1.1rem;
}

.passwordInputContainer {
  position: relative;
}

.passwordIconContainer {
  position: absolute;
  top: 70%;
  right: 8px;
  transform: translateY(-50%);

  z-index: 10;
}

.emailIconContainer {
  position: relative;
}

.emailIconContainer {
  position: absolute;
  top: 45.5%;
  right: 25.3%;

  z-index: 10;
}

.extActions {
  display: flex;
  justify-content: space-between;
  width: 32vw;

  font-size: 0.9rem;
  cursor: pointer;

  font-weight: 400;

  padding-bottom: 1vh;
}

.connectButton {
  background-color: black;
  color: white;

  border: none;
  border-radius: 1.5rem;

  font-size: 1.5rem;

  width: 32vw;
  height: 8vh;

  cursor: pointer;

  margin-bottom: 5vh;
}

.connectButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.doubleInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: center;
}

.infoContainer {
  width: 75vw;
  height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 2vh;
}

.infoBlock {
  width: 17vw;

  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.orderContainer {
  width: 75vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productList {
  width: 75vw;
  display: flex;
  flex-direction: column;

  background-color: white;

  border-radius: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.row {
  width: 75vw;
  height: 5vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: black solid 0.03rem;
}

.row div {
  padding: 0.3rem;
  width: 20%;
}

.totalInfo {
  width: 14vw;

  font-weight: 800;
  font-size: 1.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
